@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root{
    --cor-de-fundo:#8967B3;
    --cor-primaria:#181C14;
    --cor-secundaria:#3C3D37;
    --fonte:"Fjalla One", sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-ptimaria);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

h1{
    font-size: 2rem;
    color: var(--cor-primaria);
    font-weight: 700;
}